/* AUTH FALSE */
.authFalse{
    height: 350px;
    width: 30%;
    margin-top: 2%;
    margin-left: 8%;
    padding: 1rem;
    border-style: outset;
    border-radius: 20%;
}
.authFalse h2{
    text-align: center;
}
.authFalse p{
    padding: 2rem;
}
.authfalsebtn{
  margin-left: 25%;

}
/* AUTH TRUE */
.authTrue{
    cursor: pointer;
    height: 10%;
    width: 30%;
    margin-top: 1.5%;
    margin-left: 8%;
    padding: 2rem;
    border-style: outset;
    border-radius: 20%;
}
