/* HOME PAGE */
.imgpage1{
    position: absolute;
    top: 12%;
    left: 55%;
}
.imgpage1 img {
    height: 40rem;
    width: 40rem;
    border-radius: 50%;
}
.imgpage2{
    
    position: absolute;
    top: 52%;
    left: 45%;
    
}
.imgpage2 img{
    height: 350px;
    width: 350px;
    opacity: 0.9;
    border-radius: 50%;
}
.textpage1{
    cursor: pointer;
    height: 10%;
    width: 30%;
    margin-top: 9%;
    margin-left: 8%;
    padding: 2rem;
    border-style: outset;
    border-radius: 20%;
}
.hph2{
    color: #003865;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
}

/* ABOUT PAGE */
.carousel {
    margin: 0 50px 50px 50px;
}

.abouttext h1 {
    text-align: center;
    color: #1A8B9D;
}

/* CONTACT PAGE */
.contacthead {
    text-align: center;
    margin-top: 3%;
    color: #003865;
    font-family: 'Italianno', cursive;

}

.contactdiv {
    margin-top: 6%;
}

.contactright h1 {
    text-align: center;
    color: #003865;
}

.contactleft {

    width: 45%;
}

.contactinput {
    margin-left: 0;
}

/* LOGIN PAGE */


.loginheader {
    text-align: center;
    font-family: 'Italianno', cursive;
    font-size: 1100%;
    color: #3FA796;
}

.loginformbox {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    margin-left: 38%;
    box-shadow: 0px 0px 12px #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 25%;
    height: 45vh;
    background-color: #fafafa;
}

.loginform {
    margin-top: 10%;
    margin-left: 5%;
}

.signupbox {

    text-align: center;
    margin-top: 1%;
    margin-left: 38%;
    box-shadow: 0px 0px 12px #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 25%;
    background-color: #fafafa;

}

.signupbox a {
    text-decoration: none;

}

.lgnfrm {
    margin-top: 2%;
    margin-left: 0;
    width: 95%;
}

.lgnbtn {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    margin-top: 8%;
    margin-left: 25%;
    padding: 5px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.lgnbtn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}




/* REGISTER PAGE */

.registerformbox {

    justify-content: center;
    margin-top: 1%;
    margin-left: 38%;
    box-shadow: 0px 0px 12px #ccc;
    border-radius: 8px;
    padding: 1rem;
    width: 25%;
    height: 55vh;
    background-color: #fafafa;
}

.registerform {
    margin-top: 10%;
    margin-left: 5%;

}

.regh5 {
    margin-top: 10%;
    text-align: center;
}

.regh5 span {
    cursor: pointer;
    color: #5800FF
}
/* TRAINING PAGE */
.trainingpage{
    margin-top: 5%;
}
.trainingimg{
    border-radius: 10px;
}
.searchbox {
    border: 1px solid #dee2e6;
    height: 60px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.searchbox input.searchbox-input {
    border: none;
    height: 40px;
    width: calc(100% - 50px);
    border-image: none;
    border-color: none;
    background: transparent;
    outline: none;
}

.searchbox span {
  cursor: pointer;
  margin-right: 1%;
}
.sort{
    display: flex;
    justify-content: center;
    padding-top: 15%;
}
/* NUTRITIONIST PAGE */
.logodiv img{
    height: 700px;

}
.chatdiv { 
    position: fixed;
    bottom: 0;
    width: 100%;
}
.chatdivul{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    bottom: 14%;
    right: 22%;
}
.frm {
    border: 1px solid #dee2e6;
    height: 60px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    width: 75%;
    background-color: whitesmoke;
}

.frm input.frm-input {
    border: none;
    height: 40px;
    width: calc(100% - 40px);
    border-image: none;
    border-color: none;
    background: transparent;
    outline: none;
}
.frm-btn{
    display: flex;
    height: 50px;
    align-items: center;
    margin-right: 0.75%;
    border-radius: 30px;
}
/* MY DİET PLAN PAGE */
.bckimg{
    background-image: url("../../public/logo.png");
    width: 100%;
    height: 100vh;
}
.dietdiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    box-shadow: 0px 0px 12px #ccc;
    border-radius: 8px;
    padding: 3rem;
    width: 75%;
    height: 100vh;
    background-color: #fff;
    color: #003865;


}
.dietdiv h4{
    text-align: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48
  }
.dieth1{
    color: #003865;
    font-family: 'Italianno', cursive;
    font-size: 5rem;
}
